.services {
    font-family: Open Sans, Arial, sans-serif;
    letter-spacing: 2px;
    line-height: 2;
    margin: 0px 60px 35px;
    font-size: 17px;
}

.services-container {
    margin: 60px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.title-container {
    display: flex;
    justify-content: center;
}

.heading {
    font-family: "Urbanist", sans-serif;
    font-size: large;
    margin: 10px 0px 8px 60px !important;
    font-weight: bolder;
    letter-spacing: 2px;
    color: var(--color3)
}

.services-title {
    font-size: 30px;
    font-family: "Urbanist", sans-serif;
    letter-spacing: 2.5px;
    font-weight: bolder;
}

@media screen and (max-width: 992px) {

    .heading {
        margin: 15px !important;
    }

    .services-container {
        margin: 0 !important;
    }

}