.navbar {
    z-index: 3;
    height: 80px;
    top: 0;
    padding-right: 15px;
    padding-left: 15px;
    font-family: "Urbanist", sans-serif;
    margin: 0px !important;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-toggler {
    float: right;
    box-shadow: none !important
}

.nav-btn {
    font-family: "Urbanist", sans-serif;
    letter-spacing: 2px;
    color: var(--color2);
    text-decoration: none;
    font-size: 15px;
}

.nav-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color3);
}

.nav-btn:avtive {
    cursor: pointer;
    text-decoration: underline;
    color: #ffc400;
}

.nav-item {
    margin-bottom: 8px;
}


/* SMALL SCREENS */
@media screen and (max-width: 760px) {

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        display: flex;
        align-items: flex-end !important;
        flex-direction: column;
        padding: 5px;
        text-shadow: 2px 2px 8px black;
    }
}

.nav-item:hover .nav-btn {
    color: var(--color3);
    text-decoration: none;
}