.new-navbar {
    z-index: 3;
    top: 0;
    padding: 0px;
    font-family: "Urbanist", sans-serif;
    margin: 0px;
    align-items: center;
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.navbar-content {
    /* display: none; */
    width: 100%;
    transition: transform 0.8s ease-in-out;
    transform: translateX(-100%);
    justify-content: space-around;
    align-items: center;
}

.navbar-content.open {
    display: flex;
    transform: translateX(0);
    height: 50px;
    transform: translateX(0);
}

.navbar-toggler {
    float: right;
    box-shadow: none !important
}

.nav-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--color2);
}

.nav-btn:avtive {
    cursor: pointer;
    text-decoration: underline;
    color: #ffc400;
}

.nav-item a {
    font-family: "Urbanist", sans-serif;
    letter-spacing: 2px;
    color: var(--color3);
    text-decoration: none;
    font-size: 15px;
    margin-top: 15px;
}

.nav-item a:hover {
    color: var(--color2);
    text-decoration: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
    z-index: 9999;
    font-size: xx-large;
}

@media screen and (max-width: 900px) {
    .nav-item a {
        font-size: 12px;
    }

    .navbar-content {
        flex-direction: column;
        padding: 30px;
        position: absolute;
        top: 0;
        background-color: white;
        width: 33%;
        left: 0;
        z-index: 999;
        display: flex !important;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 1.5%;
    }

    .navbar-content.open {
        transform: translateX(0);
        height: auto;
        align-items: flex-start;
    }

    .nav-item {
        border-bottom: 1px solid gray;
        margin-bottom: 15px;
    }

    .menu-icon {
        display: block;
        font-size: 30px;
        position: absolute;
        top: 0;
    }

    .nav-btn {
        font-size: 15px;
    }
}

.nav-item:hover .nav-btn {
    color: var(--color3);
    text-decoration: none;
}

.nav-item a {
    font-family: "Urbanist", sans-serif;
    letter-spacing: 2px;
    color: var(--color3);
    text-decoration: none;
    font-size: 18px;
    margin: 4px;
}

.nav-item:hover .nav-btn {
    color: var(--color3);
    text-decoration: none;
}


.nav-item a:active {
    color: salmon;
}

.nav-item a:visited {
    color: var(--color3);
}