.contact-page {
    display: flex;
    flex-direction: row;
    margin: 100px 50px 75px;
    justify-content: center;
}

.contact-form-2 {
    width: 50%;
}

.label {
    font-family: "Urbanist", sans-serif;
}

.looking-forward {
    font-size: 20px;
    color: #0b2945;
    font-family: "Urbanist", sans-serif;
}