.principals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vb;
    margin: 10px 30px -90px;
}

.bio-name {
    font-family: "Urbanist", sans-serif;
    color: #0b2945;
    font-size: 40px;
}

.bio-title {
    font-family: "Urbanist", sans-serif;
    color: #0b2945;
    font-size: 30px;
}

.title-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bio-container {
    margin-top: 20px;
}

.bio-img {
    float: left;
    margin-right: 25px;
    margin-bottom: 3px;
    border-radius: 1%;
    object-fit: cover;
    height: 10%;
}

.bio-text {
    text-align: justify;
    font-size: 17px;
    letter-spacing: 2px;
}

.bio-col-1 {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.bio-col-2 {
    display: flex;
    justify-content: start;
    padding: 30px;
}

.bio-container {
    display: flex;
}

.services {
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
    margin: 13px;
    line-height: 28px;
}

.bio-info {
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 992px) {

    p.bio-text {
        margin: 10px 10px 10px 15px !important;
    }

    .services {
        margin: 10px 20px 20px !important;
    }

    .h1 {
        font-size: 25px;
    }

    .h2 {
        font-size: 20px;
    }

    .contact-page {
        margin: 180px 30px 0px;
        flex-direction: column !important;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {}