:root {
  --color2: rgb(186, 215, 196);
  --color1: rgb(170, 255, 200);
  --color3: hsl(208, 8%, 63%);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.content-container {
  flex: 1 0 auto;
  width: 100vw;
  overflow-x: hidden;
}

.welcome {
  flex-direction: column;
  height: 40vh;
  display: flex;
  font-family: "Urbanist", sans-serif;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin: 0;
  padding: 0;
  position: relative;
}

row {
  padding-bottom: 0px !important
}

.resource-card {
  width: 18rem;
  height: 30rem;
  align-items: center;
  border: none;
  justify-content: center;
  display: flex;
  border-radius: 0.256rem;
  font-family: Open Sans, Arial, sans-serif;
  background-color: #eeeeee;
  padding: 0px;
  flex-direction: column;
}

.card-header {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  border: none;
  padding: 0px;
  font-family: Open Sans, Arial, sans-serif;
}

.new2 {
  border: 1px solid black;
  width: 100%;
  padding: 0;
}

.part {
  color: #0b2945;
  letter-spacing: 2px;
  font-family: "Urbanist", sans-serif;
  margin: 10px 0px 3px 0px;
}

.row {
  padding: 0;
}

.properties-text {
  font-family: Open Sans, Arial, sans-serif;
  color: #0b2945;
  letter-spacing: 2px;
}

.page-container {
  /* min-height: 100%; */
  margin: 90px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .page-container {
    margin: 30px 70px;
  }

  .about {
    font-size: 15px;
    margin: 20px;
  }

  .footer {
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .bio-container {
    flex-direction: column;
  }

  .services {
    margin: 15px !important;
  }

  .footer {
    padding: 0px;
  }

  .bio-info {
    width: 100% !important;
  }

  .services {
    font-size: 12px;
  }

  .leadership-text {
    display: none;
  }

  .footer {
    flex-direction: column !important;
    height: auto !important;
    padding: 20px;
  }

  .contact-div-footer {
    width: 100% !important;
  }

  .legal {
    margin-top: 10px;
    width: 100% !important;
    align-items: end !important;
  }

  .foot {
    margin-top: 8px;
  }

  .bio-img {
    height: 130px;
    width: auto;
  }

  .about {
    font-size: medium !important;
  }

  .leadership-div {
    margin-top: 15px !important;
  }

  .home-contact-div {
    margin-top: 0px !important;
    padding: 0px;
  }

  .page-container {
    margin: 20px !important;
  }

  .navbar {
    padding: none !important;
  }

  .contact-page {
    margin: 180px 30px 0px;
    flex-direction: column !important;
    align-items: center;
  }

  .map-container {
    display: none;
  }

  .home-portfolio {
    flex-direction: column;
  }

  .large-col {
    width: 100% !important;
  }

  .partner {
    width: 100% !important;
  }

  .home-body {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 800px) {
  .small-col {
    width: 100% !important;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .disappear {
    display: none;
  }

  .more-link {
    margin: 20px !important;
  }

  .about {
    margin: 20px !important;
  }
}

@media screen and (max-width: 500px) {
  .part {
    font-size: medium !important;
  }

  .principal {
    font-size: small;
  }

  .h1 {
    font-size: 18px;
    text-decoration: underline;
  }

  .h2 {
    font-size: 13px;
    ;
  }

  .h3 {
    font-size: 14px;
    text-decoration: underline;
  }
}

.carousel-image {
  height: 400px;
  object-fit: cover;
  border-radius: 1.2%;
}

.resource-name-description {
  display: flex;
  justify-content: center;
}

.resource-name-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Open Sans, Arial, sans-serif;
  letter-spacing: 2px;
  color: #0b2945;
}


.card-img {
  padding: 0px;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 3%;
}

.learn-more-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.overlay {
  display: flex;
  top: 0;
  left: 0;
  width: 50%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  border-radius: 3%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.small-col {
  width: 25%;
  height: 100% !important;
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.large-col {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
}

/* .berrin {
  border-right: 1px solid var(--color2);
} */

.partner {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.home-body {
  top: 0;
  /* padding-bottom: 20px; */
  margin: 0;
  width: 100vw !important;
  height: 100%;
  overflow-x: hidden;
}

.home-logo {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  object-fit: contain;
}

.about-div {
  width: 100% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-portfolio {
  width: 100% !important;
  display: flex;
  height: 100%;
  align-items: center;
  /* margin: 20px; */
}

.about {
  font-family: "Urbanist", sans-serif;
  line-height: 200%;
  font-size: 18px;
  margin: 30px;
  text-align: justify;
  display: flex;
  align-items: center;
}

.more-link {
  text-decoration: none;
  font-size: 15px;
  /* color: black; */
  color: var(--color3);
  margin: 30px;
  font-family: "Urbanist", sans-serif;
}

.more-link:hover {
  color: var(--color3);
}

.label-2 {
  color: var(--color3);
  font-family: "Urbanist", sans-serif;
  font-size: 13px;
}

.home-contact-div {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 15px;
  flex-direction: column;
}

.contact-form-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-portfolio {
  width: 100% !important;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 20px;
}

.leadership-div {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2px;
  flex-direction: column;
  margin-top: 90px;
}

.leadership-text {
  text-align: center;
  font-size: 22px;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background-color: var(--color3);
  padding: 5px;
  font-family: "Urbanist", sans-serif;
}

.submit-btn:hover {
  width: 100%;
  background-color: var(--color3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.form-control {
  border: 1px solid var(--color3);
  border-radius: 2px;
  min-height: 23px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#message {
  height: 100px;
}

.hm-prt-pic {
  filter: brightness(85%);
  border-radius: 2px;
}

.lighten {
  filter: brightness(119%);
  border-radius: 2px;
}

.principal {
  font-size: 18px;
  color: var(--color3);
  margin-bottom: 20px;
}

.footer {
  background-color: var(--color3);
  min-height: 30vh;
  width: 100vw !important;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
  padding: 40px;
}

.contact-div-footer {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}

.footer-logo {
  /* filter: invert(1); */
  width: auto;
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  width: 40%;
  height: 100%;
  padding: 8px;
}

.foot-address {
  display: flex;
}

.foot-details {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-icon {
  margin: 10px 10px 0px 4px;
}

.foot {
  display: flex;
  color: white;
  text-decoration: none;
}

.foot-info {
  font-family: "Urbanist", sans-serif;
  margin: 5px;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-decoration: none !important;
}

.all-rights {
  font-family: "Urbanist", sans-serif;
  margin: 5px;
  font-size: 10px;
  letter-spacing: 1.5px;
}

.services-title {
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
  margin: 30px 0px;
  letter-spacing: 2.5px;
}

@media screen and (max-width: 900px) {

  .services-title {
    margin: 8px 0px;
    font-size: large !important;
  }

  .hear-from {
    font-size: large !important;
  }
}

.hear-from {
  font-family: "Urbanist", sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
}