:root {
  --color1: hsl(101, 64%, 91%);
  --color2: rgb(168, 207, 182);
  --color3: hsl(204, 19%, 72%);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 100vw !important;
  overflow-x: hidden !important;
}

.content-container {
  flex: 1 0 auto;
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
}

.welcome {
  position: relative;
  height: 80vh;
}

row {
  padding-bottom: 0px !important
}

.resource-card {
  width: 18rem;
  height: 30rem;
  align-items: center;
  border: none;
  justify-content: center;
  display: flex;
  border-radius: 0.256rem;
  font-family: Open Sans, Arial, sans-serif;
  background-color: #eeeeee;
  padding: 0px;
  flex-direction: column;
}

.card-header {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
  border: none;
  padding: 0px;
  font-family: Open Sans, Arial, sans-serif;
}

.new2 {
  border: 1px solid black;
  width: 100%;
  padding: 0;
}

.part {
  color: #0b2945;
  letter-spacing: 2px;
  font-family: "Urbanist", sans-serif;
  margin: 10px 0px 3px 0px;
}

.row {
  padding: 0;
}

.properties-text {
  font-family: Open Sans, Arial, sans-serif;
  color: #0b2945;
  letter-spacing: 2px;
}

.page-container {
  margin: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .about {
    font-size: 15px !important;
    margin: 10px;
  }

}

@media screen and (max-width: 900px) {

  .welcome {
    height: 50vh !important;
  }

  .leadership-text {
    display: none;
  }

  .footer {
    height: auto !important;
  }

  .foot {
    margin-top: 8px;
  }

  .about.label-2.more-link {
    font-size: 12px !important;
  }

  .leadership-div {
    margin-top: 15px;
  }

  .home-contact-div {
    margin: 0px;
    padding: 0px;
  }

  .page-container {
    margin: 0px 50px;
  }

  .navbar {
    padding: none;
  }

  .contact-page {
    margin: 180px 30px 0px;
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    display: none;
  }

  .home-portfolio {
    flex-direction: column;
  }

  .home-body {
    padding-bottom: 0 !important;
  }

  .small-col {
    width: 100% !important;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .about {
    margin: 0px !important;
  }

}

@media screen and (max-width: 500px) {
  .part {
    font-size: medium !important;
  }

  .principal {
    font-size: small;
  }

  .h1 {
    font-size: 18px;
    text-decoration: underline;
  }

  .h2 {
    font-size: 13px;
    ;
  }

  .h3 {
    font-size: 14px;
    text-decoration: underline;
  }

  .about {
    font-size: 12px !important;
  }
}

.resource-name-description {
  display: flex;
  justify-content: center;
}

.resource-name-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Open Sans, Arial, sans-serif;
  letter-spacing: 2px;
  color: #0b2945;
}

.card-img {
  padding: 0px;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 3%;
}

.learn-more-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.overlay {
  display: flex;
  top: 0;
  left: 0;
  width: 50%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  border-radius: 3%;
}

.small-col {
  width: 25%;
  height: 100% !important;
  display: flex;
  justify-content: center;
  margin-top: 40px;

}

.large-col {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
}

.partner {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

.home-body {
  top: 0;
  margin: 0;
  width: 100vw !important;
  height: 100%;
  overflow-x: hidden;
}

.home-logo {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  object-fit: contain;
}

.about-div {
  width: 100% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.home-portfolio {
  width: 100% !important;
  display: flex;
  height: 100%;
  align-items: center;
}

.hm-prt-pic {
  margin: 20px
}

.about {
  font-family: "Urbanist", sans-serif;
  line-height: 150%;
  letter-spacing: 1.3px;
  line-height: 2;
  font-size: 20px;
  margin: 20px;
  text-align: justify;
  display: flex;
  align-items: center;
}

.more-link {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1.2px;
  color: var(--color3);
  margin: 20px;
  font-family: "Urbanist", sans-serif;
}

.more-link:hover {
  color: var(--color2);
}

.label-2 {
  color: var(--color3);
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.home-contact-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  flex-direction: column;
}

.contact-form-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.leadership-div {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist", sans-serif;
  flex-direction: column;
  margin-top: 90px;
}

.leadership-text {
  text-align: center;
}

.message-submit {
  width: 100%;
  margin: 15px 0px !important;
}

.submit-btn {
  min-height: 30px;
  font-size: large;
  margin: 10px;
  border: none;
  border-radius: 3px;
  border: 1px solid var(--color3);
  background-color: var(--color1);
  padding: 5px;
  letter-spacing: 1.5px;
  font-family: "Urbanist", sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  background-color: var(--color2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
  border: 1px solid var(--color3);
  border-radius: 2px;
  min-height: 23px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#message {
  height: 100px;
}

.hm-prt-pic {
  filter: brightness(85%);
  border-radius: 2px;
}

.lighten {
  filter: brightness(119%);
  border-radius: 2px;
}



.footer {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: 60px 0px 0px 0px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 25px;
}

.new-foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.foot-address {
  display: flex;
}

.foot-details {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  /* this should match the website by... width */
}

.footer-icon {
  font-size: 12px;
  margin: 10px 5px 0px 5px;
}

.foot-logo {
  display: flex;
  justify-content: center;
}

.foot {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  margin: 0px;
}

.foot-info {
  font-family: "Urbanist", sans-serif;
  margin: 8px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-decoration: none !important;
  text-align: center;
  display: flex;
}

.services-title {
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
  font-weight: bolder;
  margin: 30px 0px;
  letter-spacing: 2.5px;
}

@media screen and (max-width: 900px) {
  .home-logo {
    width: 90% !important;
    height: auto;
  }

  .legal {
    display: block !important;
  }

  .services-title {
    margin: 8px 0px;
    font-size: large !important;
  }

  .new-foot {
    justify-content: center;
  }

  .foot-info {
    font-size: 10px;
    margin-bottom: 30px;
    display: none;
  }

  .footer-icon,
  .footer-logo {
    display: none;
  }

  .foot-details {
    margin: 0;
  }

  .hear-from {
    font-size: large !important;
  }

  .more-link {
    margin: 20px 0px;
    font-size: medium;
  }
}

.hear-from {
  font-family: "Urbanist", sans-serif;
  /* font-family: 'Optical Fiber', sans-serif; */
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  color: var(--color2)
}

.custom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.custom-col {
  flex: 1;
  margin: 0px 5px
}

.custom-input,
.custom-textarea {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 1em;
  background-color: rgb(240, 238, 238);
}

@media screen and (max-width: 400px) {
  .part {
    font-size: small;
  }

  .hear-from {
    font-size: 18px !important;
  }
}

.bio-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.bio-img-wrapper img {
  max-width: 250px;
}

.principals-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vb;
  margin: 10px 30px -90px;
}

.more-bio-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


.bio-name {
  font-family: "Urbanist", sans-serif;
  font-size: 28px;
  margin: 5px;
}

.bio-title {
  font-family: "Urbanist", sans-serif;
  color: var(--color3);
  font-size: 15px;
  margin: 5px;
}

.title-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio-text {
  text-align: justify;
  font-size: 17px;
  letter-spacing: 2px;
}

.bio-col-1 {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.bio-col-2 {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

.bio-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}

.services {
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  margin: 13px;
  line-height: 28px;
}

.view-resume-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.view-resume-button:hover {
  background-color: #0056b3;
}

.bio-info {
  margin: 30px;
  width: 50%;
  box-sizing: border-box;
}

.view-resume-button {
  margin-left: 10px;
}

@media screen and (max-width: 900px) {

  /* .bio-img {
      height: 170px;
      width: auto;
      border-radius: 2%;
      width: auto;
  } */

  .bio-name {
    font-size: 22px;
    /* text-decoration: underline; */
  }

  .bio-info {
    width: 95% !important;
  }

  .bio-container {
    flex-direction: column;
    /* margin-top: 0px !important; */
    align-items: center;
  }

  p.bio-text {
    margin: 10px 10px 10px 15px !important;
  }

  .services {
    margin: 10px 20px 20px !important;
  }

  .contact-page {
    margin: 180px 30px 0px;
    flex-direction: column !important;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {

  /* .bio-img {
      height: 100px !important;
      width: auto !important;
  } */

}

.center {
  display: flex;
  justify-content: center;
}